/* MovieDescription.css */

.movie-description {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
  }
  
  .description {
    flex: 1;
    color: white; 
  }
  
  .description h1 {
    font-size: 2em; 
    margin-bottom: 10px; 
  }
  .description p {
    font-size: 1.5em; 
  }
  
  .image-container {
    margin-left: 20px; 
  }
  .movie-poster {
    max-width: 200px; 
    width: 100%; 
    height: auto; 
  }