.box{
    display: inline-flex;
    flex-direction: row;
    margin-right:20px ;
    padding-bottom: 20px;
    flex-wrap: wrap;
  
}
.card{
    flex: 1;
    flex-basis: 200px;
    flex-grow: 0;
    width: 200px;
    height: 300px;
    border: 2px solid #fff;
    box-shadow: 0px 4px 7px rgba(0,0,0,.5);
    cursor: pointer;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    overflow: hidden;
    position: relative;
    border-radius: 30px;
    border: solid 4px white;
}
.card img{
    width: 100%;
    height:100%;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
}
.descriptions{
    font-size: 13px;
    color: rgb(255, 255, 255);
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    transition: all .7s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
    clip-path: circle(0% at 100% 100%);
}
.card:hover .descriptions{
    left:0px;
    transition: all .7s ease-in-out;
    clip-path: circle(75%);
}
.card:hover{
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    box-shadow: 0px 2px 3px rgba(0,0,0,.3);
    transform: scale(.97);
}
.card:hover img{
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    transform: scale(1.6) rotate(20deg);
    filter: blur(3px);
}
.card h1{
    color: #ff3838;
    letter-spacing: 1px;
    margin: 0px;
    font-size: 17px;
}
.card h2{
   padding: 50px;
}
.card button{
    color: #fff;
    width: fit-content;
    height: 40px;
    cursor: pointer;
    border-style: none;
    color:#fff;
    font-size: 17px;
    outline: none;
    box-shadow: 0px 2px 3px rgba(0,0,0,.4);
    transition: all .5s ease-in-out;
}
.card button:hover{
    transform: scale(.95) translateX(-5px);
    transition: all .5s ease-in-out;
}

